* {
  transition: all 0.3s ease;

  @media (max-width: 770px) {
    line-height: 150% !important;
  }
}

html {
  height: 100dvh;
  width: 100vw;
  background-color: #FFF;
}

#root {
  height: 100%;
  width: 100%;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  height: 100dvh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Inter", sans-serif;
}

img {
  object-fit: cover;
  cursor: pointer;
}

textarea,
input {
  outline: none;
  border: none;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  align-self: stretch;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ghost_button {
  display: flex;
  padding: 0.25rem 0.5rem;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;

  &.red_ghost_btn {
    &:hover {
      border-radius: 0.5rem;
      background: rgba(233, 79, 79, 0.08);
    }
  }
}